* {
  padding: 0;
  margin: 0;
  font-family: roboto;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  background-color: #1d1d1d;
}

.fluid {
  flex: 1;
}

.border {
  border: 1px solid black;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.sidebar {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #181818;
}

.sidebar-items {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-list {
  list-style: none;
  width: 100%;
}

.nav-item {
  color: #909096;
  cursor: pointer;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #909096;
  text-decoration: none;
}

.nav-item-borderBottom {
  border-bottom: 1px solid #909096;
}

.nav-item:hover {
  color: #08fdd8;
}

.title {
  padding: 10px;
  color: #fff;
  height: 60px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.text-zone {
  line-height: 1.5;
  font-size: 1.5rem;
}

.text-zone-item {
  font-family: font-file-82132;
  font-weight: 100;
  font-size: 5.3rem;
  line-height: 4.7rem;
  color: #fff;
}

.text-zone-item:hover {
  display: inline-block;
  transition: all;
  color: #08fdd8;
}

.gray-text {
  position: relative;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  letter-spacing: 3px;
  margin-top: 2rem;
  color: #8d8d8d;
}

.flat-button {
  color: #08fdd8;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 2px;
  margin-top: 10px;
  height: 50px;
  border: 1px solid #08fdd8;
  padding: 12px 20px;
}

.section {
  margin-top: 200px;
  color: white;
}

.container {
  overflow: hidden;
  padding-left: 50px;
  width: 100%;
}

.list {
  display: grid;
  grid-gap: 10px;
  margin-top: 16px;
  list-style: circle;
  margin-left: 24px;
}

.list-title {
  font-size: 2.5rem;
}

.list-title:hover {
  display: inline-block;
  transition: all;
  color: #08fdd8;
}